<div class="card row">
  {{#if image}}
    <img class="card-img-top col-md-12" src="{{image}}" alt="Studenten">
  {{/if}}
  <div class="card-body col-md-offset-3 col-sm-offset-2 col-lg-6 col-sm-8">
    {{#if title}}
      <h1 class="card-title">{{title}}</h1>
    {{/if}}
    <!-- <p class="card-text"></p> -->
    {{yield}}
  </div>
</div>
