<div class="card article-card">
  {{#if image}}
    <img class="card-img-top col-md-12" src="{{image}}" alt="{{title}}">
  {{/if}}
  <div class="card-body col-lg-offset-3 col-sm-offset-2 col-lg-6 col-sm-8">
    {{#if title}}
      <h1 class="card-title">{{title}}</h1>
    {{/if}}
    {{yield}}
  </div>
</div>
