.card {
  background-color: #a6ce39;
}
.card-body {
  padding: 15px;
}

.container {
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
  border-width: 0 0 1px;
  border-radius: 0;
}
