{{#article-card title="Denko-ICT" image="../images/denkoICTLogo.jpg"}}
  <p class="card-text"><img class="img-inline-right" src="../images/moneybirdElianKrosse.jpg" alt="Stefan Olde Hendrikman"><strong>Stefan Olde Hendrikman</strong> is systeembeheerder/ VOIP- beheerder bij Denko-ICT. Denko-ICT is een bedrijf dat zich focust op het opzetten en het beheren van de netwerken van andere bedrijven.Dit doet Denko-ICT allemaal lokaal. Ze willen ook wel eens op een wat grotere afstand doen, maar alleen als dit andere vestigingen/zusterbedrijven zijn van het hoofdkantoor. Denko-ICT zelf bestaat ook weer uit verschillende afdelingen. De afdelingen binnen Denko-ICT zijn: verkoop,administratie, domotica,netwerk/service. Stefan is dan ook werkzaam op de afdeling service/netwerk, maar gaat voornamelijk naar de klanten hun bedrijf toe om onderhoud of service te bieden. Hij is begonnen bij Denko-ICT naast zijn studie toen hij hoorde dat er een vacature beschikbaar was.</p>
  <h3>Denko-ICT als bedrijf</h3>
  <h5 >Wat doet Denko-ICT als bedrijf?</h5>
  <p class="card-text">Denko-ICT is een bedrijf dat zich focust op het ontwerpen en beheren van netwerken voor bedrijven. Hierbij hoort dus ook cloudcomputing en vernieuwing van bestaande netwerken.</p>
  <h5>welke afdelingen zijn er binnen Denko-ICT</h5>
  <p class="card-text">Denko-ICT bestaat uit 4 afdelingen: Verkoop, Domotica, Netwerk/service en Administratie.</p>
  <h3>Stefan Olde Hendrikman</h3>
  <h5>Op welke afdeling ben je zelf werkzaam en welke functie heb je daarin?</h5>
  <p class="card-text">Hij is zelf werkzaam op de afdeling service/netwerk. De functie die hij daarin heeft is: systeembeheerder/ VOIP beheerder.</p>
  <h5> Hoe ben je terecht gekomen bij Denko-ICT en welke opleidingen heb je hiervoor gevolgd?</h5>
  <p class="card-text">Hij is begonnen met een MBO netwerkbeheerder niveau 4 opleiding. Naast het volgen van deze opleiding werkte hij ook al bij een kleiner ICT bedrijfje. Toen hij de opleiding netwerkbeheerder had afgerond, is hij de opleiding HBO IT Service Management gaan volgen. Tijdens deze opleiding hoorde hij dat er een vacature vrij was gekomen binnen Denko-ICT en heeft hier toen voor gesolliciteerd. Waarna hij naast het studeren dus ook is aangenomen bij Denko-ICT.</p>
  <h5>Wat zijn de dingen waar de IT van Denko-ICT zich voornamelijk mee bezig houdt volgens jou?</h5>
  <p class="card-text">De IT waar we op dit moment veel mee werken is met het beveiligen van de netwerken, maar ook vooral het virtualiseren van de netwerkomgevingen. Daarnaast zijn we ook veel bezig met het onderhouden van de bestaande netwerken en hebben hiervoor ook een storingslijn voor in de avond en de helpdesk overdag. De afdeling Domotica is bezig met het installeren van de smart living (applicaties binnen je huis die beheert kunnen worden met smartphone of andere apparaten) en onderhouden van deze systemen. De afdeling administratie houdt zich ok alleen bezig met de administratieve werkzaamheden. de afdeling verkoop zorgt voor de verkoop van nieuwe producten aan klanten, maar overlegt ook met de andere afdelingen wat handig is of betere oplossingen voor een bepaalde klant.</p>
  <h5> Wat is het belangrijkste dat je hebt meegenomen en geleerd in het HBO ten opzichte ook van het mbo?</h5>
  <p class ="card-text"> Hij heeft op het HBO vooral geleerd het denken, rapporteren, communiceren en goed in beeld brengen van de processen en de bestaande situatie. Dit is ten op zichte van het mbo dat je vooral aan het opbouwen bent en hier dus minder mee bezig bent. Hij heeft dus geleerd op het HBO goed gestructureerd en efficiënt te werken.</p>
  <h3>Vernieuwing</h3>
  <h5> Wat zijn veranderingen die je zelf al bent tegengekomen in de afgelopen aantal jaren?</h5>
  <p class="card-text">Hij ziet dat er de afgelopen paar jaren veel meer te doen is met de beveiliging van de netwerken.
    Dit omdat de gebruikersdata volgens de nieuwe privacywetten veel beter beschermd moeten worden.
    Daarnaast ziet hij ook dat veel bedrijven steeds meer met de cloud en cloud computing gaan werken, dus dat de bestaande netwerken in bedrijven steeds minimaler worden en alles virtueel geregeld word.</p>
  <h5>Welke vernieuwingen in de IT zie je voor je in de 10 komende jaren</h5>
  <p class="card-text">Hij ziet dat er nog meer cloudcomputing gaat komen en er meer apparatuur gevirtualiseerd gaat worden.
    Hij denkt dat er ook nog meer gedaan gaat worden met de beveiliging van de netwerken en dat dit ook wel zo blijft, omdat er altijd nieuwe beveiligingslekken worden gevonden of gemaakt.</p>
  {{/article-card}}
