{{#article-card title="Werkveld" video="videos/werkveld.mp4"}}
  <p class="card-text">
    Deze pagina biedt informatie over verschillende bedrijven in het werkveld ICT. Deze bedrijven zijn geselecteerd op basis van de uitstroomprofielen van HBO-ICT op het Saxion, namelijk IT Service Management, Business en Software Engineering.
  </p>
  <p class="card-text">
    De volgende bedrijven kun je refereren tot het uitstroomprofiel IT Service Management: Thales en Denko-ICT. Het bedrijf Moneybird kun
    je refereren tot het uitstroomprofiel Software Engineering en Previder kun je toebedelen aan IT Service Management, omdat ze zich bezig
    houden met servers en dergelijke, en tot Business, omdat ze zeer gericht zijn op het binnenhalen van kleinere zaken voor hosting
    (business-to-business).
  </p>
{{/article-card}}
<div class="col-lg-offset-3 col-sm-offset-2 col-lg-6 col-sm-8">
  <div class="row">
    {{#compagny-card title="Moneybird" image="images/moneybirdLogo.png" link="werkveld.moneybird"}}
      <strong>Elian Krosse</strong> is Software Engineer bij Moneybird, een klein bedrijf dat werkt aan online boekhoudsoftware. Hij is hier tijdens zijn stage voor HBO-ICT begonnen en vertelt over over het bedrijf zelf, zijn ervaringen en hoe zijn studie hier in terug komt.
    {{/compagny-card}}
    {{#compagny-card title="Previder" image="images/previderLogo.jpg" link="werkveld.previder"}}
    <strong>Bas Wiggers </strong>is service delivery manager bij Previder. Previder is een  IT bedrijf onder de Odin groep, en houd zich bezig met het bouwen, beheren van, en adviseren over werkplekken in de Cloud. Tevens levert Previder alle relevante IT technologieën en services volledig gemanaged.
    {{/compagny-card}}
  </div>
  <div class="row">
    {{#compagny-card title="Thales" image="images/thalesLogo.jpg" link="werkveld.thales"}}
      <strong>Marcel Brummelaar</strong>  is Project Portfolio Manager bij Thales. Thales is een wereldwijde onderneming die zich bezig houdt met elektronica, luchtvaart, defensie en informatietechnologie. Hij is hier begonnen na dat hij de opleiding HT meetkunde heeft afgerond en de opleiding informatica had afgerond op de Universiteit van Twente. Hier lees je wat thales is, doet en hoe marcel hier terecht is gekomen.
    {{/compagny-card}}
    {{#compagny-card title="Denko-ICT" image="images/denkoICTLogo.jpg" link="werkveld.denko-ict"}}
      <strong>Stefan Olde Hendrikman</strong>  is systeembeheerder/ VOIP- beheerder bij Denko-ICT. Denko-ICT is een bedrijf dat zich focust op het opzetten en het beheren van de netwerken van andere bedrijven.
      <p>
        <br>
        <br>
        <br>
        <br>
      </p>
    {{/compagny-card}}
  </div>
</div>
