{{#article-card title="Werkveld" image="images/studenten.jpg"}}
  <p class="card-text">
    Dit is een stuk over het werkveld
  </p>
{{/article-card}}
<div class="col-lg-offset-3 col-sm-offset-2 col-lg-6 col-sm-8">
  <div class="row">
    {{#compagny-card title="Moneybird" image="images/moneybirdLogo.png" link="werkveld.moneybird"}}
      <strong>Elian Krosse</strong> is Software Engineer bij Moneybird, een klein bedrijf dat werkt aan online boekhoudsoftware. Hij is hier tijdens zijn stage voor HBO-ICT begonnen en vertelt over over het bedrijf zelf, zijn ervaringen en hoe zijn studie hier in terug komt.
    {{/compagny-card}}
    {{#compagny-card title="Switch" image="images/switchLogo.png" link="werkveld.switch"}}
      Lorem ipsum
    {{/compagny-card}}
  </div>
  <div class="row">
    {{#compagny-card title="Thales" image="images/thalesLogo.jpg" link="werkveld.thales"}}
      Lorem ipsum
    {{/compagny-card}}
    {{#compagny-card title="Denko-ICT" image="images/denkoICTLogo.jpg" link="werkveld.denko-ict"}}
      Lorem ipsum
    {{/compagny-card}}
  </div>
</div>
