{{#article-card title="Moneybird" image="../images/moneybirdLogo.png"}}
  <p class="card-text text-intro">
    <img class="img-inline-right" src="../images/moneybirdElianKrosse.jpg" alt="Elian Krosse">
    <strong>Elian Krosse</strong> is Software Engineer bij Moneybird, een klein bedrijf dat werkt aan online boekhoudsoftware. Hij is hier tijdens zijn stage voor HBO-ICT begonnen en vertelt over over het bedrijf zelf, zijn ervaringen en hoe zijn studie hier in terug komt.
  </p>
  <h3 id="wat-doet-moneybird">
    Wat doet Moneybird
  </h3>
  <h5 id="kun-je-vertellen-wat-moneybird-zoal-doet-als-bedrijf-welke-producten-maken-jullie-">
    Kun je vertellen wat Moneybird zoal doet als bedrijf, welke producten maken jullie?
  </h5>
  <p class="card-text">
    Wij ontwikkelen een online softwarepakket, en daarmee kunnen mensen boekhouden en facturen versturen. Dus alles is online, ze gaan naar moneybird.nl, ze loggen in, en als ZZP’er kun je daarin je volledige boekhouding voeren.
  </p>
  <h5 id="wat-is-jullie-missie-of-doel-">
    Wat is jullie missie of doel?
  </h5>
  <p class="card-text">
    Ons doel is om mensen daar plezier in te geven. Als je als ZZP’er begint is het vaak de grootste frustratie, en misschien ook de grootste onwetendheid: Hoe doe je je boekhouding? Je kunt het op papier gaan doen, of in Excel, maar dat gaat toch frictie opleveren. Je hebt toch niet de controle erop, je ziet niet precies of de facturen betaald zijn. Wij proberen zo veel mogelijk slimmigheidjes in te bouwen zodat mensen het veel makkelijker hebben. Je vult gewoon in wat je gedaan hebt voor de klant en wat je geleverd hebt, en dat is eigenlijk alles wat je moet doen. Je klikt op klaar en de factuur gaat automatisch naar de administratie van de klant. Die hoeft maar op de betaalknop te drukken en het is helemaal verwerkt. Het is allemaal via iDeal geregeld, maar incasso&#39;s zijn ook mogelijk en we zijn bezig om de betalingen ook direct via de banken te regelen.
  </p>
  <h5 id="dus-jullie-proberen-het-zo-makkelijk-mogelijk-te-maken-voor-de-klant-">
    Dus jullie proberen het zo makkelijk mogelijk te maken voor de klant.
  </h5>
  <p class="card-text">
    Ja, en dan het liefst met zo min mogelijk functionaliteit ingebouwd zodat je een heel simpele interface hebt, zodat de klant meteen denkt: &quot;Hier kan ik mee uit de voeten&quot;. Maar onderwater is het zo slim dat alles in een keer werkt. De klant moet niet eens door hebben dat het zo slim is. Ze moeten denken &quot;Dit werkt heel simpel&quot;, maar tegelijkertijd nemen we al het werk uit handen.
  </p>
  <h5 id="is-het-niet-heel-lastig-om-die-balans-te-vinden-tussen-gebruiksvriendelijkheid-en-functionaliteit-">
    Is het niet heel lastig om die balans te vinden tussen gebruiksvriendelijkheid en functionaliteit?
  </h5>
  <p class="card-text">
    Dat is inderdaad een continu gevecht dat we hebben. Dan denken we dat we ergens een knopje voor kunnen toevoegen, maar dan zijn er meteen drie werknemers die zeggen dat als we daar een knopje voor toevoegen, dan maken we het lastiger, en hoeveel mensen helpen we hier mee. Zijn er 300 op de 3000 mensen die hier gebruik van maken, dan is het waarschijnlijk niet de moeite waard want 10% van de mensen is te weinig. Dat zijn afwegingen die we hier continu maken.
  </p>
  <div class="img-container">
    <img class="img-inline-full" src="../images/moneybird1.jpg" alt="Werknemers aan het werk bij Moneybird">
    <small class="img-caption">Werknemers aan het werk bij Moneybird</small>
  </div>
  <h5 id="wat-is-jullie-doelgroep-">
    Wat is jullie doelgroep?
  </h5>
  <p class="card-text">
    We richten ons voornamelijk ZZP’ers en kleine ondernemers, maar we hebben wel een aantal klanten die langzaam groot zijn geworden. Dat is leuk want dat geeft nieuwe inzichten, maar dat is tegelijkertijd ook waar we de klanten gaan verliezen. Op het moment dat het bedrijf groeit, dan hebben ze andere wensen aan het pakket dan mensen die een kleiner bedrijf hebben. Tot op zekere hoogte is het zinvol om hierin mee te gaan, maar op een gegeven moment moet je niet functionaliteiten in gaan bouwen voor iemand die groter is geworden, want het gros van onze klanten is een klein bedrijf, en die hebben niets aan die functionaliteit. Dat maakt het pakket alleen maar lastiger.<br>
    We zeggen wel echt heel hard: &quot;Als je te groot bent voor ons helpen we je met alle plezier overstappen, we zijn blij om je als klant te zien gaan&quot;. Het gaat ons er om dat ze gelukkig zijn en een goede tijd hebben gehad met de administratie in Moneybird. Dan laten we ze met plezier gaan en gaan we niet moeilijk zitten doen om ze binnen te houden.<br>
    Dat is ook het voordeel van ons businessmodel. Onze klanten betalen €10 €17,50 of €25 per maand en daar zit verder geen onderscheid in, en we hebben veel gebruikers. Eentje meer of minder maakt niet veel uit, maar we hebben het liefst dat iedereen tevreden is. Als je niet tevreden bent kun je beter naar een ander pakket toe gaan. Die luxe die hebben we.
  </p>
  <em>&quot;Het gaat er om dat de klanten gelukkig zijn&quot;</em>
  <h5 id="jullie-zijn-een-innovatief-bedrijf-waaruit-zich-dat-in-">
    Jullie zijn een innovatief bedrijf, waaruit zich dat in?
  </h5>
  <p class="card-text">
    In het feit dat wij niet kijken naar de cijfertjes, dat doen we wel maar niet als hoofdmoot. Dus als wij in een maand iets slechter of beter draaien dan blijven we nog steeds kijken naar onze eigen kracht, waar zouden we in kunnen verbeteren in functionaliteit. We kijken niet naar hoe we meer kunnen verdienen aan onze klanten, maar hoe we onze klanten nog beter kunnen helpen. Ik denk dat het als innovatief bedrijf heel belangrijk is dat je niet gaat kijken naar waar je winst op kunt maken en welke slagen je kunt maken om meer geld te verdienen, maar dat je je product zo sterk maakt dat je concurrenten niet eens in de buurt kunnen komen. Je bent dus continu bezig met je eigen kracht, en maakt je product nog beter en nog sterker.<br>
    Pas heeft een bedrijf een concurrent gelanceerd voor ons product. Wat je meteen zag was dat een aantal van onze gebruikers, maar ook andere mensen in de markt, dat gingen gebruiken om het te testen. En iedere keer lazen wij berichten waarin stond: &quot;Waarom gebruiken mensen geen Moneybird? Dit programma werkt helemaal niet fijn&quot;. Voor hun is dat iets ongrijpbaars, waarom Moneybird beter is dat het product dat zij gebouwd hebben. Maar wij weten gewoon dat we zo veel tijd hebben gestoken in het perfectioneren van ons product. Over elk knopje is nagedacht waarom het op die plek staat en waarom het zo werkt. Voor hun is dat iets wat bijna niet na te bouwen is. Zij denken geld te gaan verdienen aan een boekhoudpakket, maar wij gaan uit van onze eigen kracht en willen niet imiteren en zetten een eigen sterk product neer. En altijd vanuit de filosofie: hoe kunnen we het product prettiger maken voor onze klanten.<br>
    Het is heel verfrissend, want financieel gezien zijn we niet afhankelijk van één klant. Sommige bedrijven moeten klanten binnen houden en grote projecten draaien, en dat is heel anders dan hoe wij dat doen. Als ons project drie maanden uitloopt dan kijken we waarom dat uitgelopen is en als dat een goede reden heeft wordt niemand er boos om. Het product is er beter op geworden en daar draait het om. Een ander bedrijf zal misschien zien dat de budgetten overschreden zijn dus dat het niet goed gaat. Dat is een luxe die we hebben.
  </p>
  <h3 id="werken-bij-moneybird">
    Werken bij Moneybird
  </h3>
  <h5 id="hoeveel-medewerkers-telt-het-bedrijf-">
    Hoeveel medewerkers telt het bedrijf?
  </h5>
  <p class="card-text">
    Twee mensen zijn hier continu bezig met de gebruiksvriendelijkheid en er zijn ongeveer 12 ontwikkelaars. Daarnaast hebben we 6 supportmedewerkers, iemand voor de marketing en een voor data-analyse. Ook hebben we 2 office en HR-medewerkers. Dus totaal 25 tot 30 man. De kern van het bedrijf zijn de ontwikkelaars. We zijn ooit opgericht door 3 ontwikkelaars, inmiddels zijn er daar nog 2 van over.<br>
    Het bedrijf is echt vanuit het ontwikkelen opgezet. Dat is ook de manier waarop hier gewerkt wordt, we hebben een grote rustige werkplek waar niet veel gesproken wordt, behalve in de vergaderruimtes. Het is echt de bedoeling dat je daar gefocust kunt werken zonder afleiding. Als je een vraag hebt loop je dus niet naar je collega toe, maar daar gebruiken we bijvoorbeeld Slack voor. Zo zorgen we ervoor dat je de momenten waarop je onderbroken wordt zelf kunt kiezen. Zo kun je lekker doorwerken en dat is de filosofie van het bedrijf; echt voor de ontwikkelaars.<br>
    Alles is ingericht op de ontwikkelaars en de rest is daar omheen gebouwd. De supportmedewerkers en de interactiedesigners zijn daar later pas bij gekomen. Tot 5-6 man zijn we gewoon gegroeid met alleen ontwikkelaars.
  </p>
  <div class="img-container">
    <img class="img-inline-full" src="../images/moneybird2.jpg" alt="Flexwerken vanuit het buitenland">
    <small class="img-caption">Werken kan overal, zolang er maar internet is. Bijvoorbeeld in Finland, waar deze Moneybird werknemer aan de slag gaat.</small>
  </div>
  <h5 id="helpen-jullie-als-ontwikkelaars-ook-mee-in-het-support-">
    Helpen jullie als ontwikkelaars ook mee in het support?
  </h5>
  <p class="card-text">
    Ja, we hebben daar een brug tussen geslagen, tussen support en ontwikkelaars. Wat je vaak ziet is dat sommige vragen niet goed beantwoord kunnen worden door de supportmedewerkers. Daar zitten soms bugs of fouten in die voor een klant specifiek zijn en die heel lastig te achterhalen zijn. Dus is het wel handig als een ontwikkelaar mee kijkt. We rouleren dan met twee ontwikkelaars per week die meewerken met het support. Dus alle lastige technische vragen beantwoorden zij, en als er dan een fout uit komt proberen ze die meteen op te lossen, soms zelfs binnen een uur. Dat is wel een kracht die we hebben, want je voorkomt dan dat honderden klanten tegen hetzelfde probleem aanlopen.<br>
    Het is ook heel goed als je software ontwikkeld om een beetje klantcontact te hebben, want op die manier zie je gewoon waar klanten tegenaan lopen. Een supportmedewerker denkt misschien dat we daar een help artikeltje voor moeten schrijven, maar als ontwikkelaar denk je: &quot;Waarom stelt die klant überhaupt die vraag? En waarom zouden we er een help artikel voor schrijven als ik het probleem bij de bron kan aanpakken.&quot; Dus je krijgt veel beter inzicht in wat er speelt en hoe je het product zou moeten uitwerken, en uiteindelijk levert dat een beter product op.
  </p>
  <h5 id="hoe-hebben-jullie-de-werkvloer-georganiseerd-gaat-elke-werknemer-gewoon-lekker-zijn-gang-">
    Hoe hebben jullie de werkvloer georganiseerd, gaat elke werknemer gewoon lekker zijn gang?
  </h5>
  <p class="card-text">
    Dat is inderdaad interessant. We werken niet met een systeem als scrum bijvoorbeeld, we werken wel Agile. Dus we draaien projecten, en die draaien we vaak 6 weken lang. Daar werken dan 2 of 3 ontwikkelaars aan en dat is dan het grote langetermijndoel waaraan gewerkt wordt. En in de tussentijd ben je gewoon vrij om zelf taken op te pakken. Dat gaat natuurlijk naar inzicht en met een klein beetje sturing, maar ik denk dat eigenlijk alle ontwikkelaars hier wel een goede inschatting kunnen maken wat ze zouden moeten oppakken zonder dat erop gestuurd wordt. Dat is eigenlijk iets heel magisch want er is een hele grote lijst met honderden taken die gedaan moeten worden. En als ontwikkelaar heb je daar eigenlijk de vrije hand in wat je gaat oppakken. Het is natuurlijk vanzelfsprekend dat als je iets leuks gaat oppakken wat eigenlijk niet noodzakelijk is op het moment dat we het heel druk hebben, we elkaar daarop aanspreken, en dan is het opgelost. Maar het is niet zo dat er een manager zit die de taken uitdeelt, het is allemaal heel vrij.
  </p>
  <h3 id="de-opleiding-van-de-werknemers">
    De opleiding van de werknemers</h3>
  <h5 id="welke-opleidingsachtergrond-heeft-het-personeel-hier-">Welke opleidingsachtergrond heeft het personeel hier?</h5>
  <p class="card-text">Heel divers, we hebben voornamelijk Hbo’ers zitten en een aantal met een universitaire opleiding en een enkeling heef alles zelf aangeleerd. Wat dat betreft is opleiding niet heel belangrijk, we kijken niet persé naar de opleiding maar het is wel een eerste inschatting. Het gaat uiteindelijk om wat je kunt, sommige mensen bewijzen zich in een paar weken, dat ze laten zien dat ze weten hoe het in de praktijk zit. Het is niet zo dat een universitair opgeleid iemand hier beter betaald krijgt dan iemand van het hbo, daar wordt niet naar gekeken. Je rol en toegevoegde waarde zijn veel belangrijker.</p>
  <div class="img-container">
    <img class="img-inline-full" src="../images/moneybird3.jpg" alt="Een lunchlecture van Moneybird">
    <small class="img-caption">Een lunchlecture voor HBO-ICT studenten van Saxion gegeven door een werknemer van Moneybird</small>
  </div>
  <h5 id="welke-opleiding-heb-je-zelf-gedaan-">
    Welke opleiding heb je zelf gedaan?
  </h5>
  <p class="card-text">
    HBO-ICT, ik ben met het afstuderen hierbinnen komen rollen. Ik deed voor het afstuderen nog een minor ondernemen, dat was een verbredende minor, en daar was ik met mijn eigen bedrijfje bezig. Toen zei een docent van mij dat ik een ondernemer moest vinden waar ik me aan kon spiegelen en waar je mee kunt sparren. Op dat moment zag ik op Tweakers een filmpje voorbijkomen van Moneybird in de beginfase. Toen heb ik ze gewoon eens aangesproken met de vraag of we eens konden praten. Na dat gesprek boden ze me meteen een afstudeerplek aan en van het een kwam het ander. Na het afstuderen heb ik eerst deeltijd gewerkt en daarnaast ben ik bezig geweest met mijn eigen bedrijf. Maar op een gegeven moment kwam ik erachter dat combineren heel lastig was en dat ik hier zoveel voldoening uit het werk kon halen dat ik liever hier aan de slag ging dan dat ik verder ging met mijn bedrijfje. En dat is me tot nu toe goed bevallen.
  </p>
  <h3 id="de-studie-hbo-ict">
    De studie HBO-ICT
  </h3>
  <h5 id="heb-je-nog-tips-voor-studenten-die-erover-nadenken-in-dit-werkveld-aan-de-slag-te-gaan-">
    Heb je nog tips voor studenten die erover nadenken in dit werkveld aan de slag te gaan?
  </h5>
  <p class="card-text">
    Ik denk dat het heel belangrijk is dat je vooral naast je studie bezig bent. Dus niet alleen kijken naar welke vakken je aangeboden krijgt, maar kijk naar de dingen die je echt prikkelen en leuk vindt om te doen. Ga zelf dingen leren en ga verder dan school je aanbiedt. Ik denk dat daar vooral de kracht ligt van een goede student. En als je het leuk vindt om te ondernemen en je bent een beetje charismatisch, je kunt je product verkopen, probeer dan gewoon eens te starten tijdens je studie. En als je aan het werk gaat ga dan vooral shoppen en ga niet bij de eerste-de-beste zitten. Bij een stage ook, schrijf minimaal 2 bedrijven aan en ga ze eens vergelijken. Praat met ze en kijk hoe het bedrijf werkt. Wat ik zelf vak deed was mijn oud klasgenoten vragen wat ze verdienden en wat ze deden bij hun bedrijf. Zo krijg je een heel goed beeld van wat er in de markt speelt. En dat kun je dan ook weer gebruiken om te onderhandelen, je maakt elkaar daarmee sterker.
  </p>
  <em>&quot;Een vak zoals concurrency, daar heb ik iedere dag nog profijt van.&quot;</em>
  <h5 id="zijn-er-dingen-in-je-studie-waar-je-echt-wat-aan-gehad-hebt-">
    Zijn er dingen in je studie waar je echt wat aan gehad hebt?
  </h5>
  <p class="card-text">
    Je krijgt een heel brede basis set aan kennis mee, en die is altijd handig. Een vak zoals concurrency, daar heb ik iedere dag nog profijt van. In het begin dacht ik: &quot;Wat is dit?&quot;. Maar elke dag nog gebruik je de filosofie en de denkwijzen de je hebt aangeleerd. Die is heel waardevol.<br>
    Van de minor ondernemen vond ik zelf heel leuk dat het een verbredende minor was. Vooral omdat je op een compleet ander vlak aan het werk bent. Opeens moet je nadenken over hoe marketing in elkaar zit, hoe je jezelf verkoopt als persoon. Dat is best wel leuk want dat kom je altijd wel weer tegen. Als je een functioneringsgesprek hebt of als je gaat onderhandelen over je salaris, dan heb je dat nodig. Je kunt wel wachten tot iemand je geld geeft, maar je kunt er ook zelf achteraangaan.
  </p>
  <h3 id="de-toekomst">
    De toekomst
  </h3>
  <h5 id="hoe-denk-je-dat-het-werkveld-er-over-10-jaar-uit-zal-zien-waar-zullen-we-dan-mee-bezig-zijn-">
    Hoe denk je dat het werkveld er over 10 jaar uit zal zien, waar zullen we dan mee bezig zijn?
  </h5>
  <p class="card-text">
    Ik denk dat het nog veel gekker wordt dan dat het nu is. Er wordt veel geautomatiseerd en daar hebben we nu al te weinig mensen voor. Alles wat geautomatiseerd wordt moet ook onderhouden worden en ik denk dat er daarom echt een verdubbeling nodig is in mensen die software ontwikkelen en onderhouden. De maatschappij wordt er steeds afhankelijker van, zelfs de belastingdienst is volledig geautomatiseerd. Ook al die systemen moeten onderhouden worden, als dat plat gaat gaan heel veel dingen stuk. Dus de afhankelijkheid van ICT-systemen wordt steeds groter.<br>
    Ik denk ook dat programmeur steeds meer een beroep wordt zoals dokter en advocaat worden gezien, omdat het steeds meer een beroep is dat de maatschappij draaiende houdt. Je verandert de wereld ook echt, met het werk dat ik hier de afgelopen 4 jaar heb gedaan heb ik misschien wel honderden boekhouders werkloos gemaakt, gewoon omdat ik het makkelijker heb gemaakt voor de ondernemer om het zelf te doen. Is dat erg, misschien. Maar je verandert de maatschappij wel, en de ondernemers zijn er heel blij mee. Voor hun is de drempel tot ondernemen een stuk lager, want boekhouden kun je zelf.<br>
    ICT verandert de wereld. Neem Airbnb bijvoorbeeld, heel Amsterdam staat op zijn kop, en de wereld weet even niet wat ze er mee aan moeten. Pokémon Go, een simpel appje waar kinderen een beetje mee spelen, maar het veroorzaakt wel echte problemen in de echte wereld. Zo zie je dat software een enorme impact heeft op de wereld.
  </p>
{{/article-card}}
