{{#article-card title="Moneybird" image="../images/moneybirdLogo.png"}}
  <p class="card-text text-intro">
    <img class="img-inline" src="../images/moneybirdElianKrosse.jpg" alt="Elian Krosse">
    Elian Krosse Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a condimentum urna. Curabitur convallis, tortor eget gravida tempor, dolor tortor ullamcorper felis, et consequat urna ante eget sem. Morbi molestie augue ut augue placerat dignissim. Phasellus in orci vel turpis elementum congue id vel turpis. Cras ac ultrices ligula. Donec sagittis libero id leo tincidunt, in viverra urna tincidunt. Nullam malesuada tempus metus consectetur dignissim. Sed non eros vel lorem elementum congue.
  </p>
  <p class="card-text">
    Proin viverra luctus justo, in rhoncus odio aliquam eget. Nunc vehicula aliquam sagittis. Maecenas rutrum at nibh eget sollicitudin. Donec facilisis dignissim lacus, quis mollis mauris finibus in. Etiam sit amet leo eu augue dapibus aliquet in eu tortor. Vestibulum mattis congue nibh, non consequat mauris feugiat nec. Maecenas ac aliquam dui.
  </p>
  <h3>Titel</h3>
  <p class="card-text">
    In hac habitasse platea dictumst. Pellentesque ut massa porta, maximus mauris in, iaculis leo. Duis hendrerit urna eget arcu aliquam, a suscipit turpis congue. Nulla varius volutpat rutrum. Sed eget interdum lacus. Praesent suscipit, risus quis imperdiet consectetur, quam sem elementum velit, sed lacinia magna neque in quam. Maecenas vitae ultrices dui. Pellentesque ultricies eleifend condimentum. Vestibulum fermentum neque quis mauris auctor venenatis. Sed semper orci at faucibus facilisis.
  </p>
  <h5>Vraag</h5>
  <p class="card-text">
    Maecenas sit amet ornare tortor. Quisque feugiat sit amet lorem ac lobortis. Proin quis enim id urna cursus hendrerit vel nec sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut eu gravida neque. Mauris scelerisque sit amet neque nec sodales. Aenean placerat tortor vel aliquet gravida. Aenean ut odio gravida, pellentesque purus id, varius mi. Nunc non ex ac mauris vehicula ornare at nec felis. Sed varius augue sed feugiat mattis. Sed sit amet metus sapien. Morbi tristique eget nisl et maximus. Proin porttitor rhoncus euismod.
  </p>
  <em>Cras egestas congue libero, vitae tempus magna.</em>
  <p class="card-text">
    Sed vestibulum lacus non mollis porta. Quisque efficitur pretium nisl, non dapibus lacus commodo ac. Ut mattis urna quis libero pharetra, vitae consequat leo euismod. Fusce vel dui nibh. Maecenas blandit, leo in consequat interdum, tortor purus gravida sapien, ut feugiat urna nisl imperdiet ante. In et pulvinar lorem. Sed vel eros ipsum.
  </p>
{{/article-card}}
