{{#article-card title="Previder" image="../images/previderLogo.jpg"}}
  <p class="card-text text-intro">
    <img class="img-inline-right" src="../images/improvsnor.jpeg" alt="Elian Krosse">
    <strong>Je moeder</strong> is een werknemer.
  </p>
  <h3 id="wat-doet-previder">
    Wat doet Previder
  </h3>
  <h5 id="kun-je-vertellen-wat-previder-zoal-doet-als-bedrijf-welke-producten-maken-jullie-">
    Kun je vertellen wat Previder zoal doet als bedrijf, welke producten maken jullie?
  </h5>
  <p class="card-text">
    Dit is bullshit
  </p>
{{/article-card}}
