{{#article-card title="Previder" image="../images/previderLogo.jpg"}}
  <p class="card-text text-intro">
    <img class="img-inline-right" src="../images/BasWiggers.jpg" alt="Bas Wiggers">
    <strong>Bas Wiggers </strong>is service delivery manager bij Previder. Previder is een  IT bedrijf onder de Odin groep, en houd zich bezig met het bouwen, beheren van, en adviseren over werkplekken in de Cloud. Tevens levert Previder alle relevante IT technologieën en services volledig gemanaged.
  </p>
  <h3 id="wat-doet-previder">
    Previder als bedrijf.
  </h3>
  <h5 id="kun-je-vertellen-wat-previder-zoal-doet-als-bedrijf-welke-producten-maken-jullie-">
    Wat doet Previder als bedrijf?
  </h5>
  <p class="card-text">
    Previder is een bedrijf binnen de Odin groep, dat servers host en beheert om werkplekken in de cloud aan te kunnen bieden. Om deze werkplekken zo soepel mogelijk te laten verlopen bied Previder ook de mogelijkheid om directe verbindingen te leggen. Hiernaast bouwt Previder IT systemen ter plekke bij bedrijven als hier vraag naar is.
  </p>
  <h5 id="kun-je-vertellen-wat-previder-zoal-doet-als-bedrijf-welke-producten-maken-jullie-">
    Wat is Odin groep?
  </h5>
  <p class="card-text">
    Odin groep is een groep bedrijven met een sterke focus op managed services, cloud- en datacenter oplossingen die samen zijn gaan werken om zo elkaar direct te ondersteunen. Hierdoor zijn de bedrijven zich beter kunnen focussen op hun klanten. De drie bedrijven waar Odin groep uit bestaat zijn : Previder, heutink.ict en web2work.
  </p>
  <h5 id="kun-je-vertellen-wat-previder-zoal-doet-als-bedrijf-welke-producten-maken-jullie-">
    Wat doen heutink.ict en web2work binnen Odin groep?
  </h5>
  <p class="card-text">
    Heutink ICT ontwikkelt, realiseert en beheert innovatieve en effectieve oplossingen voor het primair-, voortgezet- en beroepsonderwijs en de dagopvang. Ondersteund door 100 jaar ervaring ontwikkelt Heutink ICT oplossingen waarmee het onderwijs verder komt. Vernieuwend, altijd gericht op de dagelijkse praktijk en met inhoudelijke ondersteuning op een ongekend hoog niveau. In de beginjaren was Heutink ICT vooral actief op het gebied van ICT-infrastructuren en onderwijsinhoudelijke ondersteuning. Maar door de opkomst van social media, cloud computing, glasvezel en de behoefte aan 'anytime, anywhere learning' zijn ze zich ook gaan richten op de ontwikkeling van online platformen. Web2work is een ambitieus softwarebedrijf dat met een hecht team webbased platformen en applicaties ontwikkelt, zowel gestandaardiseerd als op maat. Ze kiezen voor webbased oplossingen omdat ze platformonafhankelijk zijn, degelijk te beveiligen, goed te integreren, centraal te beheren, overal te benaderen en tegen aantrekkelijke kosten te realiseren. Dat alles met volop flexibiliteit voor toekomstige aanpassingen en aanvullingen. Klanten van web2work profiteren maximaal van de vele mogelijkheden die het web biedt. Daarbij vinden de collega's van web2work niet telkens het wiel opnieuw uit, maar werken ze vanuit een solide basis die vervolgens naar de wens van de klant wordt op- en uitgebouwd.
  </p>
{{/article-card}}
