{{#article-card title="Previder" image="../images/previderLogo.jpg"}}
<p class="card-text text-intro">
  <img class="img-inline-right" src="../images/BasWiggers.jpg" alt="Bas Wiggers">
  <strong>Bas Wiggers</strong> is service delivery manager bij Previder. Previder is een IT bedrijf onder de Odin groep, en houd zich bezig met het bouwen, beheren van, en adviseren over werkplekken in de Cloud. Tevens levert Previder alle relevante IT technologieën en services volledig gemanaged.
</p>
<h3>Previder als bedrijf.</h3>
<h5>Wat doet Previder als bedrijf?</h5>
<p class="card-text">
  Previder is een bedrijf binnen de Odin groep, dat servers host en beheert om werkplekken in de cloud aan te kunnen bieden. Om deze werkplekken zo soepel mogelijk te laten verlopen bied Previder ook de mogelijkheid om directe verbindingen te leggen. Hiernaast bouwt Previder IT systemen ter plekke bij bedrijven als hier vraag naar is.
</p>
<h5>Wat is de Odin groep?</h5>
<p class="card-text">
  Odin groep is een groep bedrijven met een sterke focus op managed services, cloud- en datacenter oplossingen die samen zijn gaan werken om zo elkaar direct te ondersteunen. Hierdoor zijn de bedrijven zich beter kunnen focussen op hun klanten. De drie bedrijven waar Odin groep uit bestaat zijn : Previder, heutink.ict en web2work.
</p>
<h5>Wat doen heutink ict en web2work binnen Odin groep?</h5>
<p class="card-text">
  Heutink ICT ontwikkelt, realiseert en beheert innovatieve en effectieve oplossingen voor het primair-, voortgezet- en beroepsonderwijs en de dagopvang. Ondersteund door 100 jaar ervaring ontwikkelt Heutink ICT oplossingen waarmee het onderwijs verder komt. Vernieuwend, altijd gericht op de dagelijkse praktijk en met inhoudelijke ondersteuning op een ongekend hoog niveau. In de beginjaren was Heutink ICT vooral actief op het gebied van ICT-infrastructuren en onderwijsinhoudelijke ondersteuning. Maar door de opkomst van social media, cloud computing, glasvezel en de behoefte aan 'anytime, anywhere learning' zijn ze zich ook gaan richten op de ontwikkeling van online platformen. Web2work is een ambitieus softwarebedrijf dat met een hecht team webbased platformen en applicaties ontwikkelt, zowel gestandaardiseerd als op maat. Ze kiezen voor webbased oplossingen omdat ze platformonafhankelijk zijn, degelijk te beveiligen, goed te integreren, centraal te beheren, overal te benaderen en tegen aantrekkelijke kosten te realiseren. Dat alles met volop flexibiliteit voor toekomstige aanpassingen en aanvullingen. Klanten van web2work profiteren maximaal van de vele mogelijkheden die het web biedt. Daarbij vinden de collega's van web2work niet telkens het wiel opnieuw uit, maar werken ze vanuit een solide basis die vervolgens naar de wens van de klant wordt op- en uitgebouwd.
</p>
<h3> De Datacentra</h3>
<h5>waar liggen de datacentra van previder? </h5>
<p class="card-text">Previder heeft twee datacentra, PDC1 en PDC2 (previder datacenter een en twee). Deze datacentra zijn beiden gelegen in Hengelo. PDC1 ligt bij de A1 naast het hoofdkantoor van Odin groep, en PDC2 is gelegen op het bedrijventerrein Twente kanaal zuid.  </p>
<h5> Hoe zien de datacentra er uit?</h5>
<p class="card-text">De datacentra van previder zijn ingedeeld in verschillende datazalen, PDC1 heeft acht datazalen van 540 m2, en PDC2 heeft er vier van 400 m2. Deze datazalen zijn weer onderverdeeld in verschillende ‘cages’, dit zijn kooien met hierin apparatuur vereist door de klant die de desbetreffende kooi heeft gehuurd. Tevens zijn er ‘private cages’, deze privé kooien daar kan alleen de klant zelf bij, de medewerkers van previder hebben hier geen toegang toe. Dit is bedacht om een zo groot mogelijke garantie te kunnen geven van privacy.</p>
<h5> wat kunt u nog meer vertellen over de beveiliging binnen de datacentra?</h5>
<p class="card-text">De datacentra van previder zijn ten eerste fysiek beveiligd, hiermee word bedoeld dat de gebouwen waarin de datacentra zich bevinden 24 uur per dag en 7 dagen per week beveiligd zijn en er altijd een beveiligingsmedewerker aanwezig is om het gebouw te overzien. Hiernaast is de hoeveelheid personen die toegang hebben tot de datacentra heel beperkt en word iedereen die naar binnen en naar buiten gaat geregistreerd en geverifieerd met hun paspoort of identiteitsbewijs. Qua softwarematige beveiliging ligt het net aan wat de klant wil. Als de klant zelf zijn beveiliging wil onderhouden, dan laat previder dat over aan de klant. Als de klant dit echter liever uit handen geeft dan zijn er verschillende mogelijkheden om de beveiliging op maat te maken voor wat de klant nodig heeft. </p>
<h3> Bas Wiggers</h3>
<h5>Wat is uw functie binnen het bedrijf? </h5>
<p class="card-text">De functie van Bas binnen previder heet Service Delivery Manager. De Service Delivery Manager is een functie die eigenlijk is samengevoegd uit twee functies, namelijk de service manager en de projectmanager. Een service manager houdt zich bezig met het contact met klanten van previder, rapporteren en het opstellen van KPI’s (Key performance indicators). Key performance indicators zijn variabelen om de prestaties van een bedrijf, product of merk te meten. De functie van project manager spreekt voor zichzelf. </p>
<h5> </h5>
<p class="card-text"> </p>
<h5> </h5>
<p class="card-text"> </p>
{{/article-card}}
