{{#article-card title="Previder" image="../images/previderLogo.jpg"}}
  <p class="card-text text-intro">
    <img class="img-inline-right" src="../images/improvsnor.jpeg" alt="Elian Krosse">
    <strong>Bas Wiggers </strong>is service delivery manager bij Previder. Previder is een  IT bedrijf onder de Odin groep, en houd zich bezig met het bouwen, beheren van, en adviseren over werkplekken in de Cloud. Tevens levert Previder alle relevante IT technologieën en services volledig gemanaged.
  </p>
  <h3 id="wat-doet-previder">
    Previder als bedrijf.
  </h3>
  <h5 id="kun-je-vertellen-wat-previder-zoal-doet-als-bedrijf-welke-producten-maken-jullie-">
    Wat doet Previder als bedrijf?
  </h5>
  <p class="card-text">
    Previder is een bedrijf binnen de Odin groep, dat servers host en beheert om werkplekken in de cloud aan te kunnen bieden. Om deze werkplekken zo soepel mogelijk te laten verlopen bied Previder ook de mogelijkheid om directe verbindingen te leggen. Hiernaast bouwt Previder IT systemen ter plekke bij bedrijven als hier vraag naar is.
  </p>
{{/article-card}}
