{{#article-card title="Thales" image="../images/thalesLogo.jpg"}}
<p class="card-text"><img class="img-inline-right" src="../images/marcel.jpg" alt="Elian Krosse">
  <strong>Marcel Brummelaar</strong> is Project Portfolio Manager bij Thales. Thales is een wereldwijde onderneming die zich bezig houdt met elektronica, luchtvaart, defensie en informatietechnologie. Hij is hier begonnen na dat hij de opleiding HT meetkunde heeft afgerond en de opleiding informatica had afgerond op de Universiteit van Twente. Hier lees je wat thales is, doet, en hoe marcel hier terecht is gekomen.
</p>
<h3>Thales als bedrijf</h3>
<h5>Wat doet Thales als bedrijf?</h5>
<p class="card-text">
  Thales is een wereldwijd elektronicabedrijf dat zich bezighoudt met luchtvaart, defensie en informatietechnologie. Thales ontwikkeld de software én de hardware binnen het bedrijf. De vestiging in Hengelo houd zich voornamelijk bezig met de ontwikkeling van radarinstallaties en andere militaire technologie zoals nabijheidsverdedigingssystemen.
</p>
<h5>Waaruit bestaan de afdelingen bij Thales</h5>
<p class="card-text">
  Thales Hengelo is onder te verdelen in twee delen, het eerste deel houdt zich bezig met het ontwikkelen van technologie zoals radarinstallaties, en het tweede deel focust zich voornamelijk op het ondersteunen van de gebruikersprocessen en gebruikers. In het kort dus, wat wij begrijpen als ITSM. Het eerste deel bestaat uit ruim 400 werknemers en het tweede deel slechts 70. Deze 70 werknemers zijn weer onder te verdelen in verschillende domeinen. Van deze domeinen zijn er 4 verantwoordelijk voor het onderhouden van de systemen en applicaties. Dit houdt in dat er een team is dat zich bezighoudt met het onderhoud van business gerelateerde systemen en applicaties, een team dat de ondersteunende systemen en applicaties voor de engineering processen onderhoud, een domein dat de ondersteunende werkplek applicaties onderhoudt en ten slotte een domein dat de onderliggende hardware zoals de servers onderhoudt. Hiernaast zijn er nog twee overige domeinen, een domein dat zich ontfermd over architectuur, security en projectbeheer. En een deliveries domein dat zich bezig houdt met de levering en het vervangen van de verouderde of beschadigde apparatuur.
</p>
<h5>Welke functies zijn er binnen Thales?</h5>
<p class="card-text">
  1: Productowner: Deze rol bepaalt wat voor een werk er moet gebeuren en wat belangrijk is. 2: De engineers en de specialisten: Deze mensen zorgen ervoor dat alles werkt en goed blijft werken of in sommige gevallen zorgen voor het aanpassen van de applicatie. 3: Solution Manager: Deze mensen kijken naar wat is waar nodig en welke applicaties kunnen hiervoor gebruikt worden.
</p>
<h3>Marcel Brummelaar</h3>
<h5> Welke afdeling bent u zelf werkzaam?</h5>
<p class="card-text">
  Marcel is zelf werkzaam op de afdeling Architectuur, dit is dus ook de afdeling die zich bezig houdt met de vernieuwing of aanpassingen maken op de bestaande systemen/netwerk.
</p>
<h5>Wat is uw functie binnen het bedrijf?</h5>
<p class="card-text">
  De functie die marcel bekleedt heet: Project Portfolio Manager. De Project Portfolio Manager bepaalt het budget voor de projecten gezamenlijk met de werknemers. Dit wordt dan ook het gehele jaar bijgehouden. Dit is het proces waar de Project Portfolio Manager zich voornamelijk mee bezig houdt.
</p>
<h5>Hoe bent u terecht gekomen bij Thales en welke opleidingen heeft u gevolgd?</h5>
<p class="card-text">
  Hij is zelf begonnen met de opleiding HT meetkunde in Utrecht en daarna heeft hij op de Universiteit Twente Informatica gevolgd. Na de opleiding is hij gaan werken in de vastgoed registratie als informatie analist bij CMG Utrecht. Hij is daar na een aantal jaar mee gestopt, omdat hij het reizen zat was. Daarna heeft hij werk gevonden als informatiemanager bij Kadaster. Dit hield in dat hij een brug vormde tussen de gebruikers en de IT afdeling om er zo voor te zorgen dat ze de juiste apparatuur en applicaties gebruiken om een bedrijf goed te laten lopen. In deze functie werd hij het na een aantal jaar ook weer zat om veel heen en weer te reizen. Toen hoorde hij dat er een vacature beschikbaar was bij Thales en is toen daar aangenomen en daar begonnen. Hij heeft hier gewerkt als architect, consultant en projectleider. Toen hij hoorde dat er een functie vrijkwam als projectmanager heeft hij zich hier voor aangemeld en is zo op deze functie als Project Portfolio Manager terecht gekomen.
</p>
<h5>Wat zijn de dingen waar de IT zich volgens u mee bezig houdt?</h5>
<p class="card-text">
  1: het leveren van IT services en vragen beantwoordden of problemen oplossen van de helpdesk. 2: Run en operate, dit houdt in het onderhoud van en het monitoren van de systemen. 3: Het vernieuwen van de bestaande systemen of applicaties. 4: de IT helpt ook met ondersteuning van alle werkprocessen en automatisering zodat alles zo goed en efficiënt mogelijk verloopt.
</p>
<div class="img-container">
  <img class="img-inline-full" src="../images/thales1.jpg" alt="Het nieuwe kantoorpand van Thales">
  <small class="img-caption">Het nieuwe kantoorpand van Thales</small>
</div>
<h3>Vernieuwing</h3>
<h5>Welke vernieuwingen zijn heeft u de afgelopen jaren gezien en meegemaakt?</h5>
<p class="card-text">
  Het meest recente onderdeel binnen Tales is de security, dit is een ondereel sinds 3 jaar. Omdat er een compleet nieuwe beveiligde omgeving opgezet moest worden, was dit een vrij grote verandering. Dit was echter een zeer belangrijke vernieuwing aangezien de nieuwe verbindingen van en naar Thales, overheidsgvoelige informatie bevatten en dit niet naar buiten mag komen. Het systeem is dan ook dus op meerdere manieren beveiligd. Ze hebben de buitnste laag van de systemen afgedekt met firewalls om als eerste verdedegingslinie, hiernaast is er ook de mogeljikheid om specifieke poorten dicht te gooien om ongewenste toegang te blokkeren. Tevens is er voor gezorgd dat als er iemand toch binnen weet te dringen, zijn gegevens makkelijk te achterhalen zijn.
</p>
<p class="card-text">
  Een andere grote verandering binnen Thales is het grootschalig gebruik van de cloud. Vanuit Thales word een soort Private Cloud gehost waar de werknemers overal mee kunnen verbinden. Deze cloud wordt gehost op een server binnen Thales. De omgeving waar de werknemers in werken is verder ook compleet gevirtualiseerd en runt op Citrix. In het kort houdt dit in dat de werknemers alle benodigde applicaties kunnen runnen op hun eigen pc's, waar ze ook zijn.
</p>
<p class="card-text">
  Een andere grote verandering binnen Thales is de werkwijze. De werkwijze van thales heeft er tot een aantal jaren voorheen altijd zo uitgezien: De specialisten binnen het bedrijf hielden zich bezig met een specifieke applicatie of systeem, en als er iets nodig was dan bouwden ze zelf een nieuwe functie doormiddel van programmeren omdat deze functie nog niet bestond. In de laaste jaren is dit echter compleet omgedraaid, de benodigde software is al beschikbaar in de vorm van paketten, en de specialisten moeten nu in plaats van de applicatie aanpassen aan de werkprocessen, de werkprocessen aanpassen aan de software. Deze ontwikkeling heeft als uitkomst dat er nauwelijks meer nieuwe dingen geprogrammeerd hoeven worden, de meeste software bestaat nu al, het is meer een kwestie van implementeren van pakketten.
</p>
<p class="card-text">
  Tevens heeft Thales ervoor gekozen om bepaalde softwarepakketten en de onderhoud hiervan uit te besteden aan andere gespecialiseerde bedrijven. Deze bedrijven beheren deze applicaties dan ook en ontfermen zich compleet over de hele applicatie. Specialisten zijn echter altijd nodig, er is altijd bedrijfsspecifieke apparatuur die ontwikkeld en onderhouden moet worden. Een voorbeeld hiervan zijn computerchips voor radarsystemen, deze chips zijn dermate specialistich dat chips op de normale markt de benodigde specificaties niet kunnen halen, en deze dus zelf gemaakt moeten worden.
</p>
<p class="card-text">
  Thales werkt sinds kort ook via een nieuw systeem, genaamd: T-shape. Dit systeem houd het volgede in: Werknemers worden breder opgeleid zodat ze flexibeler binnen de organisatie werkzaam kunnen zijn en zo dus breder inzetbaar zijn.
</p>
<h5>Hoe wordt er bepaald of er vernieuwing moet komen en zo ja hoe wordt dit uitgevoerd?</h5>
<p class="card-text">
  Thales voert jaarlijks een ISMP uit, een Important Service Master Plan. Binnen een ISMP worden de prioriteiten van verschillende projecten besproken en worden de budgetten vastgelegd.Deze vergadering wordt gehouden met alle vestigingen ook uit verschillende landen. Aan hand van deze gesprekken en het budget kan bepaald worden welke projecten ze kunnen en willen gaan doen.Als er een project uitkomt dat ze willen gaan uitvoeren. Dan wordt dit eerst besproken met de gebruikers en welke eisen ze aan hieraan willen stellen. Er wordt ook gekeken waar het systeem aan moet gaan voldoen gezien vanuit de business eisen/doelstellingen. Als het project is vastgesteld wordt dit ook nog doorgesproken met de Architectuur Engineer en de Enterprise Engineer. Deze twee mensen bekijken ook of dat het nieuwe/aangepaste systeem voldoet aan de eisen en richtlijnen van het bedrijf of dat het alleen op een bepaalde vestiging geïmplementeerd moet worden of door alle vestigingen moet worden aangenomen. Als het project wordt aangenomen dan bestaat het project uit verschillende gates. De eerste gate is het vaststellen van het project en kijken waaruit het bestaat. De tweede gate is het uitzoeken of de oplossing die ze hebben wel daadwerkelijk de beste oplossing is. De derde gate is pas het uitvoeren van het project.
</p>
{{/article-card}}
