{{#article-card title="Business" video="videos/business.mp4"}}
  <p class="card-text">
    De uitstroomrichting Business IT gaat met name over het vaststellen van de wensen van de klant met betrekking tot de IT.
    Denk hierbij aan het vervangen van het huidige netwerk of de bestaande systemen.
    Het is dan ook handig dat je goed met mensen overweg kan en goed kan luisteren naar de wensen van de klant.
    Naast de verkoop van systemen/netwerken kan het ook zo zijn dat er van je wordt gevraagd om de bedrijfsprocessen bloot te leggen.
    Je moet deze dan op een logische manier rangschikken zodat het systeem weer vlekkeloos kan werken.
  </p>
  <h3>Curriculum</h3>
  <p class="card-text">
    Dit deel van de pagina is gewijd aan het vakkenpakket dat je de laatste twee kwartielen van het eerste jaar bij Business IT krijgt.
    Deze laatste twee kwartielen bestaan uit de onderstaande vakken:
  </p>
  <p>
    <br>
  </p>
  <table class="table">
  <thead class="Kwartielen Curriculum">
    <tr>
      <th class="title">Kwartiel 1.3</th>
      <th class="title">Vakkenpakket</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> Financiën</th>
      <td> Bij deze les leer je hoe de boekhouding doet van een bedrijf en hoe je alle cijfers van de juiste kant bekijkt.</td>
    </tr>
    <tr>
      <th scope="row"> Databases</th>
      <td>Bij dit vak leer je hoe je een database ontwerpt, monitoren en beheren plus alle processen die hierbij betrokken zijn.</td>
    </tr>
    <tr>
      <th scope="row"> Projectmanagement</th>
      <td> Bij dit vak leer je hoe je het beste overzicht kan bewaren binnen een project en ook wat er voor nodig is dit te managen.</td>
    </tr>
    <tr>
      <th scope="row">Project</th>
      <td>Voor elk kwartiel moet je ook een project maken. Wat dit project gaat inhouden kunnen wij op dit moment nog niet zeggen omdat dit met het kwartiel verandert.</td>
     </tr>
  </tbody>
</table>
  <p>
    <br>
  </p>
  <table class="table">
  <thead class="Kwartielen Curriculum">
    <tr>
      <th class="title">Kwartiel 1.4</th>
      <th class="title">Vakkenpakket:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> Procesmanagement</th>
      <td> Bij dit vak leer je hoe je de processen goed in beeld brengt en dit duidelijk kan maken voor mensen zonder voorkennis.</td>
    </tr>
    <tr>
      <th scope="row"> Webontwikkeling</th>
      <td>Bij dit vak leer je hoe je websites en applicaties moet ontwikkelen en onderhouden.</td>
    </tr>
    <tr>
      <th scope="row">Business English</th>
      <td>  Bij dit vak leer je hoe je in correct en bedrijfsmatig Engels kan spreken.</td>
    </tr>
    <tr>
      <th scope="row">Project</th>
      <td>Voor elk kwartiel moet je ook een project maken. Wat dit project gaat inhouden kunnen wij op dit moment nog niet zeggen omdat dit met het kwartiel verandert.</td>
     </tr>
  </tbody>
</table>
{{/article-card}}
