{{#article-card title="Business" image="images/studenten.jpg"}}
  <p class="card-text">
De uitstroomrichting Business IT gaat met name over het vaststellen van de wensen van de klant met betrekking tot de IT.
Denk hierbij aan het vervangen van het huidige netwerk of de bestaande systemen.
Het is dan ook handig dat je goed met mensen overweg kan en goed kan luisteren naar de wensen van de klant.
Naast de verkoop van systemen/netwerken kan het ook zo zijn dat er van je wordt gevraagd om de bedrijfsprocessen bloot te leggen.
Je moet deze dan op een logische manier rangschikken zodat het systeem weer vlekkeloos kan werken.   </p>
{{/article-card}}
