{{#article-card title="HBO-ICT" video="videos/test.mp4"}}
  <p class="card-text">
    Welkom bij HBO-ICT. Op deze site kan je informatie vinden over de opleiding HBO-ICT.
    Op deze pagina vind je de informatie over het oriënterende deel van de opleiding. Het eerste half jaar bestaat uit het verkennen van het ICT vak. Je zal dus aan hand van de informatie die je hier krijgt en projecten die je moet uitvoeren leren hoe breed het ICT vak daadwerkelijk is. Het eerste deel van het kwartiel zal dan ook voornamelijk bestaan uit theorie lessen en toetsen aan het eind van het kwartiel. Als je het eerste kwartiel doorstaan hebt kom je in het tweede kwartiel. Het tweede kwartiel zal voornamelijk bestaan uit het in de praktijk brengen van wat je in het eerste kwartiel hebt geleerd.
    Als je beide kwartielen hebt doorstaan kun je een uitstroomrichting kiezen. De uitstroomrichtingen waar je uit kan kiezen zijn: IT Business, IT Service Management en Software Engineering.
  </p>
  <h3>Curriculum</h3>
  <p class="card-text">
    Dit deel van de pagina is gewijd aan het vakkenpakket dat je de eerste twee kwartielen gaat krijgen.
    Dit geldt nog voor alle stromingsrichtingen, wil je verdere informatie na de eerste twee kwartielen kijk dan bij het desbetreffende uitstromingsprofiel.
    Deze eerste twee kwartielen bestaan bijvoorbeeld uit de onderstaande vakken.
  </p>
  <h5>Kwartiel 1.1</h5>
  <ul>
    <li>
      <strong>Introductie programmeren</strong>
      Bij deze les leer je de basis van het programmeren in Java en werken met de processen.
    </li>
    <li>
      <strong>Infrastructuur en service management</strong>
      Binnen het vak infrastructuur en service management leer je het ontwerpen, realiseren, analyseren en het adviseren van procesinfrastructuren.
    </li>
    <li>
      <strong>Analyse bedrijfsprocessen</strong>
      Deze les gaat over het leren analyseren van de processen die zich afspelen binnen een bedrijf.
    </li>
  </ul>
  <h5>Kwartiel 1.2</h5>
  <ul>
    <li>
      <strong> Projectmatig werken</strong>
      Bij dit vak leer je op een juiste en overzichtelijke manier in een projectvorm te werken.
    </li>
    <li>
      <strong>Object georiënteerd programmeren</strong>
      Bij dit vak leer je wat preciezer, doelgerichter en aan hand van objecten programmeren in Java.
    </li>
    <li>
      <strong>Architectuur infrastructuur</strong>
      Bij dit vak leer je hoe je goed de architectuur van de IT kan analyseren en hoe je deze moet ontwerpen.
    </li>
    <li>
      <strong>Gedrag in organisatie</strong>
      Bij dit vak leer je hoe je het gedrag binnen een organisatie goed kan analyseren en hoe dit toegepast kan worden binnen de organisatie.
    </li>
    <li>
      <strong>Project</strong>
      Voor elk kwartiel moet je ook een project maken. Wat dit project gaat inhouden kunnen wij op dit moment nog niet zeggen omdat dit met het kwartiel verandert.
    </li>
  </ul>
{{/article-card}}
