{{#article-card title="HBO-ICT" video="videos/index.mp4"}}
  <p class="card-text">
    Welkom bij de introductiesite van HBO-ICT. Deze site helpt je bij het kennismaken met de studie, bijvoorbeeld doordat je verschillende interviews met personen uit het werkveld kunt lezen, maar ook doordat je hier informatie over de studie zelf en over zijn uitstroomrichtingen kunt vinden.</p>
  <p class="card-text">
    Op deze pagina vind je de informatie over het oriënterende deel van de opleiding (het eerste half jaar). Dit gedeelte bestaat uit het verkennen van het ICT vak. Je zal dus aan hand van de informatie die je hier krijgt en projecten die je moet uitvoeren leren hoe breed het ICT vak daadwerkelijk is. Het eerste deel van het jaar zal dan ook voornamelijk bestaan uit theorielessen en de toetsen (tentamens) vinden plaats in een speciale tentamenweek, deze is aan het eind van elk kwartiel. Als je het eerste kwartiel doorstaan hebt kom je in het tweede kwartiel, logisch toch?</p>
<p class="card-text">
    Het tweede kwartiel zal voornamelijk bestaan uit het in de praktijk brengen van wat je in het eerste kwartiel hebt geleerd.
    Als je beide kwartielen hebt doorstaan kun je een uitstroomrichting kiezen. De uitstroomrichtingen waar je uit kan kiezen zijn: IT Business, IT Service Management en Software Engineering.
</p>
<div class="img-container">
  <img class="img-inline-full" src="../images/studieruimte.jpg" alt="Een van de studieruimtes met HBO-ICT studenten.">
  <small class="img-caption">Een van de studieruimtes met HBO-ICT studenten.</small>
</div>
<h3>Wanneer ben je toelaatbaar voor de opleiding?</h3>
<p class="card-text">
  Wanneer ben je nou precies toelaatbaar voor de opleiding HBO-ICT op het Saxion. Je kan op verschillende manieren instromen, bijvoorbeeld vanaf Havo, het VWO of vanuit het MBO. Hieronder staan de verschillende instromingsprocdures.
</p>
<h5>Algemene aanmeldingsprocedure</h5>
<p class="card-text">
  Gebruikelijk is om je uiterlijk voor 1 mei van het aankomend studiejaar aan te melden, dus bijvoorbeeld als je in 2018/2019 (aankomend studiejaar) wil beginnen met studeren, is het gebruikelijk om je voor 1 mei 2018 aan te melden. Je neemt dan automatisch deel aan een studiekeuzecheck, de uitslag hiervan is niet bindend, maar geeft wel een goede studie-indicatie. Vervolgens moet je voldoen aan alle inschrijfvoorwaarden. Deze inschrijfwaarden kom je vanzelf tegen in Studielink. Als je aan alles probleemloos voldoet kunnen je beginnen met de opleiding in september.
</p>
<p class="card-text">
    Als je dit termijn niet haalt, kun je je vervolgens alsnog aanmelden in de periode 2 mei t/m 15 augustus. Het verschil met de eerste periode is dat de uitslag van de studiekeuzecheck wel leidend is. Als je in deze periode een
    negatief studiekeuzeadvies krijgt, is dit meteen definitief en heeft dit tot gevolg dat je dat jaar <strong>niet</strong> met je opleiding kan beginnen.
  </p>
  <h5>Toelating havo/vwo</h5>
  <p class="card-text">
In principe ben je met elk profiel toelaatbaar, hieronder een twee handige tabellen:
  </p>
  <table class="table">
    <thead class="SaxionToelatingsTabel">
      <tr>
        <th class="title">Havo profiel:</th>
        <th class="title">Toelaatbaar:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Natuur en Techniek (N&T)</th>
        <td>Ja</td>
      </tr>
      <tr>
        <th scope="row">Natuur en Gezondheid (N&G)</th>
        <td>Ja</td>
      </tr>
      <tr>
        <th scope="row">Economie en Maatschapij (E&M)</th>
        <td>Ja</td>
      </tr>
      <tr>
        <th scope="row">Cultuur en Maatschappij (C&M)</th>
        <td>Ja</td>
      </tr>
    </tbody>
  </table>
  <table class="table">
    <thead class="SaxionToelatingsTabel">
      <tr>
        <th class="title">VWO profiel:</th>
        <th class="title">Toelaatbaar:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Natuur en Techniek (N&T)</th>
        <td>Ja</td>
      </tr>
      <tr>
        <th scope="row">Natuur en Gezondheid (N&G)</th>
        <td>Ja</td>
      </tr>
      <tr>
        <th scope="row">Economie en Maatschapij (E&M)</th>
        <td>Ja</td>
      </tr>
      <tr>
        <th scope="row">Cultuur en Maatschappij (C&M)</th>
        <td>Ja</td>
      </tr>
    </tbody>
  </table>
  <p class="card-text">
    Is het nou het geval dat je je diploma voor 1 augustus 2007 hebt gehaald, dan heb je een oud profiel. Met zo'n oud profiel heb je geen recht meer op rechtstreekse toelating. Er wordt dan getoetst en/of er wordt naar een vergelijking gemaakt met een huidig Havo- of VWO-profiel. Het kan dus voorkomen dat je "<strong>deficiënt</strong>" bent, dit betekent dat je nog 'ontoerijkend' bent voor de opleiding.<br>
    Er komt dan een speciale toets die test of je voldoende resultaat hebt bereikt en geschikt bent voor de opleiding.
  </p>
  <h5>Toelating vanuit het MBO:</h5>
  <p class="card-text">
    Het is sinds 1 augustus 2015 niet meer mogelijk voor MBO-studenten rechtstreeks in te stromen op het HBO. Er zijn wel verschillende combinaties mogelijk om 'naderende toelatingseisen' te stellen bij zulke instromingen. Een speciale vorm hiervan is 'niet-verwante doorstrominen', waarbij je elders op het HBO gaat studeren dan dat je op het MBO bent opgeleidt.
  </p>
  <h5>Andere procedures:</h5>
  <p class="card-text">
    Anders dan de normale procuderes vanuit VWO, Havo of MBO, zijn er ook bijzondere casussen. Deze zijn hieronder opgesomt.
    Voor meer informatie over deze casussen, kun je <a href="https://www.saxion.nl/studeren/kiezen_en_kennismaken/Studiekiezer/act/hbo-ict/hbo-ict/#toelating" target="_blank">hier</a> meer informatie vinden.
  </p>
  <div class="img-container">
    <img class="img-inline-full" src="../images/college.jpg" alt="Een college op het Saxion.">
    <small class="img-caption">Een college op het Saxion.</small>
  </div>
  <h3>Curriculum</h3>
  <p class="card-text">
    Hieronder kan je lezen welke vakken je krijgt in het eerste halfjaar, deze vakken zijn gezamenlijk, dus dit geldt nog voor alle stromingsrichtingen. Wil je verdere informatie na de eerste twee kwartielen kijk dan bij het desbetreffende uitstromingsprofiel, deze kun je vinden in de navigatiebar bovenaan de webpagina. Deze eerste twee kwartielen bestaan bijvoorbeeld uit de onderstaande vakken:
  </p>
  <table class="table">
  <thead class="Kwartielen Curriculum">
    <tr>
      <th class="title">Kwartiel 1.1</th>
      <th class="title">Vakkenpakket:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> Introductie programmeren</th>
      <td> Bij deze les leer je de basis van het programmeren in Java en werken met de processen.</td>
    </tr>
    <tr>
      <th scope="row"> Infrastructuur en service management</th>
      <td>  Binnen het vak infrastructuur en service management leer je het ontwerpen, realiseren, analyseren en het adviseren van procesinfrastructuren.</td>
    </tr>
    <tr>
      <th scope="row">Analyse bedrijfsprocessen</th>
      <td>    Deze les gaat over het leren analyseren van de processen die zich afspelen binnen een bedrijf.</td>
    </tr>
    <tr>
      <th scope="row">Project</th>
      <td>Voor elk kwartiel moet je ook een project maken. Wat dit project gaat inhouden kunnen wij op dit moment nog niet zeggen omdat dit met het kwartiel verandert.</td>
     </tr>
  </tbody>
</table>
  <table class="table">
    <thead class="Kwartielen Curriculum">
      <tr>
        <th class="title">Kwartiel 1.2</th>
        <th class="title">Vakkenpakket:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> Projectmatig werken</th>
        <td>  Bij dit vak leer je op een juiste en overzichtelijke manier in een projectvorm te werken.</td>
      </tr>
      <tr>
        <th scope="row"> Object georiënteerd programmeren</th>
        <td>  Bij dit vak leer je wat preciezer, doelgerichter en aan hand van objecten programmeren in Java.</td>
      </tr>
      <tr>
        <th scope="row">Architectuur infrastructuur</th>
        <td>      Bij dit vak leer je hoe je goed de architectuur van de IT kan analyseren en hoe je deze moet ontwerpen.</td>
      </tr>
      <tr>
        <th scope="row">Gedrag in organisatie</th>
        <td>Bij dit vak leer je hoe je het gedrag binnen een organisatie goed kan analyseren en hoe dit toegepast kan worden binnen de organisatie.</td>
      </tr>
      <tr>
        <th scope="row">Project</th>
        <td>Voor elk kwartiel moet je ook een project maken. Wat dit project gaat inhouden kunnen wij op dit moment nog niet zeggen omdat dit met het kwartiel verandert.</td>
       </tr>
    </tbody>
  </table>
{{/article-card}}
