{{#article-card title="HBO-ICT" image="images/studenten.jpg"}}
  <p class="card-text">
    Welkom bij HBO-ICT. Op deze site kan je informatie vinden over de opleiding HBO-ICT.
    Op deze pagina vind je de informatie over het oriënterende deel van de opleiding. Het eerste half jaar bestaat uit het verkennen van het ICT vak. Je zal dus aan hand van de informatie die je hier krijgt en projecten die je moet uitvoeren leren hoe breed het ICT vak daadwerkelijk is. Het eerste deel van het kwartiel zal dan ook voornamelijk bestaan uit theorie lessen en toetsen aan het eind van het kwartiel. Als je het eerste kwartiel doorstaan hebt kom je in het tweede kwartiel. Het tweede kwartiel zal voornamelijk bestaan uit het in de praktijk brengen van wat je in het eerste kwartiel hebt geleerd.
    Als je beide kwartielen hebt doorstaan kun je een uitstroomrichting kiezen. De uitstroomrichtingen waar je uit kan kiezen zijn: IT Business, IT Service Management en Software Engineering.
  </p>
{{/article-card}}
