{{#article-card title="Service Management" video="videos/servicemanagement.mp4"}}
  <p class="card-text">
    IT Service Management is de uitstroomrichting die zich vooral focust op het helpen ontwerpen/bouwen van een netwerksysteem.</p>
  <p class="card-text">
    Bij het ontwikkelen en het helpen bouwen van systemen gaat het dan ook niet alleen over het opzetten van het systeem,
    maar ook moet je zorgen dat het systeem overzichtelijk blijft voor de eindgebruiker (de klant) en voor jou, want geen bedrijf wil uit de running zijn omdat jij en je team eerst moeten kijken waar alles staat en daarna pas het probleem kunnen oplossen.
</p>
<p class="card-text">
    Met deze reden is klantcontact dan ook meteen een belangrijk onderdeel.
  </p>
  <h3>Curriculum</h3>
  <p class="card-text">
    Dit deel van de pagina is gewijd aan het vakkenpakket dat je de laatste twee kwartielen bij IT Service Management krijgt.
    Deze laatste twee kwartielen van het jaar bestaan uit de onderstaande vakken:
  </p>
  <p>
    <br>
  </p>
  <table class="table">
  <thead class="Kwartielen Curriculum">
    <tr>
      <th class="title">Kwartiel 1.3</th>
      <th class="title">Vakkenpakket</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> Architectuur en infrastructuur </th>
      <td> Bij deze les leer je hoe je de architectuur en infrastructuur goed kunt analyseren en aan hand hiervan leer je ook hoe je ontwerpen voor de IT kunt ontwikkelen.</td>
    </tr>
    <tr>
      <th scope="row"> Technisch beheer</th>
      <td> Bij dit vak leer je hoe je een IT systeem goed in beheer neemt en ga je werken volgens ITIL principes (gestroomlijnde werkprocessen). Wat deze regels precies zijn? Dat hoor je natuurlijk bij dit vak.</td>
    </tr>
    <tr>
      <th scope="row"> Projectmanagement </th>
      <td> Bij dit vak leer je hoe je het beste overzicht kan bewaren binnen een project en welke kwalificaties er voor nodig is om projecten te kunnen managen.</</td>
    </tr>
    <tr>
      <th scope="row">Project</th>
      <td>Voor elk kwartiel moet je ook een project maken. Wat dit project gaat inhouden kunnen wij op dit moment nog niet zeggen omdat dit met het kwartiel verandert.</td>
     </tr>
  </tbody>
</table>
  <p>
    <br>
  </p>
  <table class="table">
  <thead class="Kwartielen Curriculum">
    <tr>
      <th class="title">Kwartiel 1.4</th>
      <th class="title">Vakkenpakket</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> Netwerken</th>
      <td> Bij dit vak leer je hoe een netwerk is opgebouwd, hoe je dit het beste kan onderhouden en hoe je dit zo efficiënt mogelijk kan aanpassen of opbouwen.</td>
    </tr>
    <tr>
      <th scope="row"> Applicatiebeheer</th>
      <td>Bij dit vak leer je een deel programmeren, maar ook  leer je de correcte manier van omgaan en gebruik van applicaties.</td>
    </tr>
    <tr>
      <th scope="row"> Professionele communicatie </th>
      <td> Bij dit vak leer je hoe je op een juiste en correcte manier met een klant/collega kan communiceren.</td>
    </tr>
<tr>
      <th scope="row">Business English</th>
      <td>Bij dit vak leer je hoe je in correct en bedrijfsmatig Engels kan spreken.</td>
     </tr>

    <tr>
      <th scope="row">Project</th>
      <td>Voor elk kwartiel moet je ook een project maken. Wat dit project gaat inhouden kunnen wij op dit moment nog niet zeggen omdat dit met het kwartiel verandert.</td>
     </tr>
  </tbody>
</table>

{{/article-card}}
