{{#article-card title="Service Management" image="images/studenten.jpg"}}
  <p class="card-text">
    IT service management is de uitstroomrichting die zich vooral focust op het helpen ontwerpen/bouwen van een netwerksysteem.
    Bij het denken aan het helpen bouwen gaat het dan ook niet alleen maar over het opzetten van het systeem,
    maar dit kan ook inhouden dat je de leiding neemt over een team en deze sturing biedt over hoe het opgezet moet worden.
    Met deze reden is klantcontact dan ook een belangrijk onderdeel.
  </p>
  <h3>Curriculum</h3>
  <p class="card-text">
    Dit deel van de pagina is gewijd aan het vakkenpakket dat je de laatste twee kwartielen bij IT service management krijgt.
    Deze laatste twee kwartielen bestaan bijvoorbeeld uit de onderstaande vakken.<br>
    <strong>kwartiel 1.3</strong><br>
    <strong>archtitectuur en infrastructuur</strong><br>
    Bij deze les leer je hoe je de architectuur en infrastructuur goed kunt analyseren en aan hand hiervan leer je ook ontwerpen voor de IT ontwikkelen<br>
    <strong>Technisch beheer</strong><br>
    Bij dit vak leer je hoe je een IT systeem goed in beheer neemt.<br>
    <strong>Projectmanagement</strong><br>
    Bij dit vak leer je hoe je het beste overzicht kan bewaren binnen een project en ook wat er voor nodig is dit te managen.<br>
    <strong>kwartiel 1.4</strong><br>
    <strong> netwerken</strong><br>
    Bij dit vak leer je hoe een netwerk is opgebouwd, hoe je dit het beste kan onderhouden of aanpassen/opbouwen.<br>
    <strong>Applicatiebeheer</strong><br>
    Bij dit vak leer je een deel programmeren, maar ook de correcte manier van omgaan en gebruik applicaties.<br>
    <strong>Professionele communicatie</strong><br>
    Bij dit vak leer je hoe je op een juiste en correcte manier met een klant/collega kan communiceren.<br>
    <strong>business English</strong><br>
    Bij dit vak leer je hoe je in correct en bedrijfsmatig engels kan spreken.<br>
    <strong>Project</strong><br>
    Voor elk kwartiel moet je ook een project maken. Wat dit project gaat inhouden kunnen wij op dit moment nog niet zeggen omdat dit met het kwartiel verandert.<br>
  </p>
{{/article-card}}
