{{#article-card title="Service Management" image="images/studenten.jpg"}}
  <p class="card-text">
    IT service management is de uitstroomrichting die zich vooral focust op het helpen ontwerpen/bouwen van een netwerksysteem.
    Bij het denken aan het helpen bouwen gaat het dan ook niet alleen maar over het opzetten van het systeem,
    maar dit kan ook inhouden dat je de leiding neemt over een team en deze sturing biedt over hoe het opgezet moet worden.
    Met deze reden is klantcontact dan ook een belangrijk onderdeel. 
  </p>
{{/article-card}}
