{{#article-card title="Software" image="images/studenten.jpg"}}
  <p class="card-text">
    De uitstroomrichting Software Engineering focust zicht bijna volledig op het ontwikkelen van software, van het idee tot de realisatie. Hier leer je verschillende vaardigheden en ga je dieper in op vakken zoals programmeren en zal je onder andere programmeertalen leren zoals Java en C++. Tevens moet je goed oog hebben op de onderliggende processen om jouw programma’s goed te laten inspelen op de wensen van de klant.
  </p>
  <h3>Curriculum</h3>
  <p class="card-text">
    Dit deel van de pagina is gewijd aan het vakkenpakket dat je de laatste twee kwartielen bij Software Engineering krijgt.
    Deze laatste twee kwartielen bestaan bijvoorbeeld uit de onderstaande vakken.<br>
    <strong>kwartiel 1.3</strong><br>
    <strong>Android Programmeren</strong><br>
    Bij deze les leer je hoe je applicaties kan programmeren voor android toestellen.<br>
    <strong>algorithmes</strong><br>
    Bij dit vak leer je hoe je goed algorithmes toepast en hoe deze werken.<br>
    <strong>Software ontwerp</strong><br>
    Bij dit vak leer je hoe je software programmeert maar ook de juiste manier deze te ontwerpen.<br>
    <strong>kwartiel 1.4</strong><br>
    <strong> netwerkservice</strong><br>
    Bij dit vak leer je hoe een netwerk is opgebouwd en hoe je deze kan onderhouden.<br>
    <strong>Databases</strong><br>
    Bij dit vak leer je hoe je een database ontwerpt, maar ook hoe deze aangepast kunnen worden en de processen die hierbij horen.<br>
    <strong>Requirements en testen</strong><br>
    Bij dit vak leer je hoe je op een juiste manier de requirements opstelt en de juiste manier voor het testen van je omgeving.<br>
    <strong>Project</strong><br>
    Voor elk kwartiel moet je ook een project maken. Wat dit project gaat inhouden kunnen wij op dit moment nog niet zeggen omdat dit met het kwartiel verandert.<br>
{{/article-card}}
