{{#article-card title="Software" image="images/studenten.jpg"}}
  <p class="card-text">
    De uitstroomrichting Software Engineering focust zicht bijna volledig op het ontwikkelen van software, van het idee tot de realisatie. Hier leer je verschillende vaardigheden en ga je dieper in op vakken zoals programmeren en zal je onder andere programmeertalen leren zoals Java en C++. Tevens moet je goed oog hebben op de onderliggende processen om jouw programma’s goed te laten inspelen op de wensen van de klant.
  </p>
{{/article-card}}
